<form action="http://commercialcoloursltd.cmail1.com/.aspx/s/100997/" method="post">

<fieldset>
<label for="name"><span>Name:</span>
<input type="text" name="name" id="name" /></label>

<label for="Companyname"><span>Company name:</span>
<input type="text" name="cm-f-34932" id="Companyname" /></label>

<label for="Position"><span>Position:</span>
<input type="text" name="cm-f-34942" id="Position" /></label>
</fieldset>

<fieldset>
<label for="l100997-100997"><span>Email:</span>
<input type="text" name="cm-100997-100997" id="l100997-100997" /></label>

<label for="Address"><span>Address:</span>
<input type="text" name="cm-f-34934" id="Address" /></label>

<label for="Townorcity"><span>Town or city:</span>
<input type="text" name="cm-f-34935" id="Townorcity" /></label>

<label for="County"><span>County:</span>
<input type="text" name="cm-f-34936" id="County" /></label>

<label for="Postcode"><span>Postcode:</span>
<input type="text" name="cm-f-34937" id="Postcode" /></label>
</fieldset>

<fieldset>
<label for="Telephone"><span>Telephone:</span>
<input type="text" name="cm-f-34938" id="Telephone" /></label>

<label for="Mobilephone"><span>Mobile phone:</span>
<input type="text" name="cm-f-34939" id="Mobilephone" /></label>

<label for="Fax"><span>Fax:</span>
<input type="text" name="cm-f-34940" id="Fax" /></label>
</fieldset>

<fieldset>
<label for="Yourmessage"><span>Your message:</span>
<textarea id="Yourmessage" name="cm-f-34941" cols="40" rows="10"></textarea></label>

<!-- <label for="Websitemailinglistform">
<input type="checkbox" name="cm-o-100992" id="Websitemailinglistform" /> Add me to your mailing list
</label> -->
</fieldset>

<div><input type="submit" name="submit" value="Contact us" /></div>
</form>