<div class="one">
<div id="slideshow" title="Approved repairers for all major insurance companies">
<img src="/siteimages/slideshow-01.jpg" alt="" />
<img src="/siteimages/slideshow-02.jpg" alt="" />
<img src="/siteimages/slideshow-03.jpg" alt="" />
<img src="/siteimages/slideshow-05.jpg" alt="" />
<img src="/siteimages/slideshow-04.jpg" alt="" />
<img src="/siteimages/slideshow-06.jpg" alt="" />
<img src="/siteimages/slideshow-07.jpg" alt="" />
</div>
<p>With the experience of our staff we can offer a fast, friendly and  professional service to all of our customers, from owner operators to the large fleet. Call us on <strong>01244 281352</strong> to discuss how we can help you.</p>
</div>

<div class="two">

<h3>Commercial Vehicle Accident Repair &amp; Truck Painting centre</h3>

<p>Commercial Colours,  the leading Commercial Vehicle Accident Repair and Truck Painting centre covers the North West and North Wales from our base near Chester. Our facilities include Josam chassis alignment and straightening, Josam Cab alignment and repairs, Korek light commercial repair jigs, commercial vehicle spray booths and shot blasting. </p>

<h4>Manufacturer approved repairs</h4>

<p>We are leading CV crash repair specialists and approved repairers for <a href="http://www2.mercedes-benz.co.uk/">Mercedes Benz UK</a> and <a href="http://www.scania.co.uk/ ">Scania Great Britain</a>. Our staff also have extensive experience with <a href="http://www.daftrucks.co.uk/">DAF</a>, <a href="http://www.volvo.co.uk/">Volvo</a>, <a href="http://www.man.co.uk/">MAN</a> and <a href="http://www.iveco.co.uk/">Iveco</a>, as well as <a href="http://www.ford.co.uk/">Ford</a>, <a href="http://www.renault.co.uk/">Renault</a> and <a href="http://www.vauxhall.co.uk/">Vauxhall</a>.</p>

<h4>Insurance approved</h4>

<p>We handle the repair process from start to finish. We are approved commercial vehicle repairers for Norwich Union, AXA, Royal &amp; Sun Alliance and Quinn Direct. LCV's and van accident repairs are catered for with an accident management service for larger fleets.</p>

<h4>Defleeting and end of contract service</h4>

<p>End of contract and defleeting services are available from de-decaling and valeting through to complete refurbishments. We offer a nationwide collection service and secure storage.</p>
</div>