<!doctype html>

<!-- 
320 and Up boilerplate extension
Author: Andy Clarke (http://about.me/malarkey)
Author: Keith Clark (http://twitter.com/keithclarkcouk)
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>Commercial Colours | CV Crash, accident repairs and painting specialists</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="/css/style.css">

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/js/libs/selectivizr-min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script src="/js/libs/modernizr-2.0.6.min.js"></script>

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
</head>

<body class="index clearfix">

<nav role="navigation">
<ul class="clearfix">
<li><a href="/company/hgv">HGV accident repairs</a></li>
<li><a href="/company/lgv">Van &amp; LGV accident repairs</a></li>
<li><a href="/company/new_vehicle_painting">Vehicle painting</a></li>
<li><a href="/company/refurbishment_and_paintwork_services">Refurbishment</a></li>
<li><a href="/company/plant_and_machinery_repair_and_painting">Plant &amp; machinery</a></li>
</ul>
</nav>

<div role="banner">
<div class="inner clearfix">
<div class="main">
<h1>Commercial Colours | CV Crash, accident repairs and painting specialists</h1>
</div>

<div class="complementary">
<h2>Call <span class="tel">01244 281352</span></h2>
<a href="http://www.flickr.com/photos/commercialcolours/">More photos</a>
</div>

<ul id="slider1" class="multiple clearfix">
<li><img src="/img/vehicle-01.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-02.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-03.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-04.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-05.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-06.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-07.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-08.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-09.jpg" alt="" width="240" height="180"></li>
<li><img src="/img/vehicle-10.jpg" alt="" width="240" height="180"></li>
</ul>

</div>
</div>

<!-- Next row -->

<div class="content clearfix">

<h1>Commercial Vehicle Accident Repair &amp; Truck Painting Centre</h1>

<div class="main">

<p>Commercial Colours, the leading Commercial Vehicle Accident Repair and Truck Painting centre covers the North West and North Wales from our base near Chester. Our facilities include Josam chassis alignment and straightening, Josam Cab alignment and repairs, Korek light commercial repair jigs, commercial vehicle spray booths and shot blasting.</p>

<h2>Manufacturer approved repairs</h2>
<p>We are leading CV crash repair specialists and approved repairers for Mercedes Benz UK and Scania Great Britain. Our staff also have extensive experience with DAF, Volvo, MAN and Iveco, as well as Ford, Renault and Vauxhall.</p>

<h2>Insurance approved</h2>
<p>We handle the repair process from start to finish. We are approved commercial vehicle repairers for Aviva, AXA, Royal &amp; Sun Alliance and Zurich. LCVs and van accident repairs are catered for with an accident management service for larger fleets.</p>
<div class="logos"><img src="/img/logos-01.jpg" alt=""></div>

<h2>Accident management partners</h2>
<p>We are approved commercial vehicle repairers for several well-established, national accident management networks including; Ai Claims, Nationwide, Sopp &amp; Sopp, Countrywide Accident Assistance, WNS and Fleetwatch.</p>
<div class="logos"><img src="/img/logos-02.jpg" alt=""></div>

</div>

<div class="complementary">
<div class="box">
<h4>We will:</h4>
<ul>
<li>Handle your claim from start to finish, dealing direct with your insurance company</li>
<li>Carry out repairs to manufacturers&#8217; standards using genuine parts</li>
<li>Provide courtesy vans and trucks</li>
<li>Collect your damaged vehicles and deliver them back to you, fully repaired and valeted</li>
</ul>
</div>

<blockquote>
<p>We have found all of their work to be of the highest quality and craftsmanship. I have no hesitation in recommending Commercial Colours for any major repairs and painting.</p>
<cite>Allan Morris Transport</cite>
</blockquote>
</div>
</div>

<!-- Next row -->

<div class="callto">
<p>Call us on <span class="tel">01244 281352</span> or <a href="/company/C10">email us</a>.</p>
</div>

<!-- Next row -->

<div class="row-three clearfix">

<div class="col one clearfix">
<img src="/img/hgv.jpg" alt="HGV &amp; LGV accident repairs">
<h3><a href="/company/hgv">HGV &amp; LGV accident repairs</a></h3>
<p>If your vehicle is damaged in an accident Commercial Colours will look after all of your needs. We are the only commercial vehicle body shop in the North Wales and North West area equipped to deal with the heaviest of accidents.</p>
</div>

<div class="col two clearfix">
<img src="/img/lgv.jpg" alt="Van accident repairs">
<h3><a href="/company/lgv">Van accident repairs</a></h3>
<p>Commercial Colours cater for the lighter side of accident repairs, from car derived vans right up to Mercedes Sprinters, even the long wheel base high-roof versions.</p>
</div>

<div class="col three clearfix">
<img src="/img/new_vehicle_painting.jpg" alt="Commercial vehicle painting">
<h3><a href="/company/new_vehicle_painting">Commercial vehicle painting</a></h3>
<p>Are you looking to have a brand new van or tractor unit painted in your fleet colours? Do you want to tidy up your existing vehicles? We also carry out refurbishment work on all types of commercial vehicles, including trailers, tankers, vans, coaches, motor-racing units and horse-boxes.</p>
</div>

</div>

<!-- Next row -->

<div class="content clearfix">

<div class="main">

<h2>Plant &amp; machinery</h2>
<p>Commercial Colours offer specialist, professional plant and machinery damage repair and painting services from our workshops in Deeside.</p>

<h2>De-fleeting and end of contract service</h2>
<p>End of contract and de-fleeting services are available from de-decaling and valeting through to complete refurbishments. We offer a nationwide collection service and secure storage.</p>

</div>

<div class="complementary">
</div>

</div>

<!-- Next row -->

<footer role="contentinfo" class="clearfix">

<div class="vcard">

<div class="main">
<h4 class="fn org">Commercial Colours</h4>
<ul class="clearfix">
<li><a href="/">Home</a></li>
<li><a href="/company/about_us">About us</a></li>
<li><a href="/company/questionsandanswers">FAQs</a></li>
<li><a href="/company/vacancies">Jobs</a></li>
<li><a href="/company/testimonials">Testimonials</a></li>
<li><a href="/company/C10">Contact us</a></li>
</ul>
<p class="tel"><span class="value">01244 281352</span></p>
</div>

<div class="complementary">
<div class="adr">
<div class="street-address">Zone 3</div>
<div>Link 56, Weighbridge Road</div>
<div>Deeside Industrial Park</div>
<div class="locality">Deeside</div>
<div class="region">Flintshire</div>
<div class="postal-code">CH5 2LL</div>
</div>
</div>
</div>

</footer>

<!-- Scripts -->
<script src="/js/libs/jquery-1.6.2.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
<script src="/js/mylibs/helper.js"></script>

<script src="/js/mylibs/jquery.bxSlider.js"></script>
<script src="/js/mylibs/jquery.bxSlider.min.js"></script>
<script src="/js/mylibs/jquery.easing.1.3.js"></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="/js/libs/imgsizer.js"></script>
<![endif]-->

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
	test : Modernizr.mq('(only all)'),
	nope : ['/js/libs/respond.min.js']
});
</script>

<!-- http://mths.be/aab -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


</body>
</html>