<div>
{exp:channel:entries channel="company" limit="1" dynamic="off" category="5"}
<h3><a href="{title_permalink="company/index"}">{title}</a></h3>
{summary}
{/exp:channel:entries}
</div>

<div>
{exp:channel:entries channel="company" limit="1" dynamic="off" category="6"}
<h3><a href="{title_permalink="company/index"}">{title}</a></h3>
{summary}
{/exp:channel:entries}
</div>

<div>
{exp:channel:entries channel="company" limit="1" dynamic="off" category="7"}
<h3><a href="{title_permalink="company/index"}">{title}</a></h3>
{summary}
{/exp:channel:entries}
</div>