<!-- 
<h3>Join our mailing list</h3>
<p>Join our mailing list and we will periodically send you updates about our services by email.</p>
<form action="http://commercialcoloursltd.cmail1.com/.aspx/s/100992/" method="post">
<fieldset>
<label for="name"><span>Your name:<em title="Required">*</em></span>
<input type="text" name="name" id="name" /></label>
<label for="l100992-100992"><span>Email:<em title="Required">*</em></span>
<input type="text" name="cm-100992-100992" id="l100992-100992" /></label>
</fieldset>
<div><input type="submit" id="submit" name="submit" value="Sign-up" /></div>
</form>
<p><a href="{path="company/index"}privacy_policy">Privacy policy</a>  We hate SPAM too</p> 
-->